[io]
driver = "ethercat"

[io.params]
adapter = "enp111s0"
timeout_ms = 250
cycle_warn_ms = 5
on_error = "fault"

[[io.params.modules]]
model = "EK1100"
slot = 0

[[io.params.modules]]
model = "EL2008"
slot = 1
channels = 8

[[io.safe_state]]
address = "%QX0.0"
value = "FALSE"

[[io.safe_state]]
address = "%QX0.1"
value = "FALSE"

[[io.safe_state]]
address = "%QX0.2"
value = "FALSE"

[[io.safe_state]]
address = "%QX0.3"
value = "FALSE"

[[io.safe_state]]
address = "%QX0.4"
value = "FALSE"

[[io.safe_state]]
address = "%QX0.5"
value = "FALSE"

[[io.safe_state]]
address = "%QX0.6"
value = "FALSE"

[[io.safe_state]]
address = "%QX0.7"
value = "FALSE"
